.version.her_sound /* version checker */
{
	color: #0000E2;
	background-color: #1A42DB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#ppu10600
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 28px;
}

#pu10600
{
	width: 0.01px;
	padding-bottom: 6px;
}

#u10600
{
	z-index: 2;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u10575
{
	z-index: 5;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u10575:hover
{
	width: 36px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u10571
{
	z-index: 6;
}

#u4393-6
{
	z-index: 12;
	width: 226px;
	min-height: 23px;
	background-color: transparent;
	color: #00FF00;
	text-align: left;
	font-size: 28px;
	line-height: 34px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 273px;
	position: relative;
}

#u4398-9
{
	z-index: 20;
	width: 278px;
	min-height: 41px;
	background-color: transparent;
	color: #606060;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 19px;
	position: relative;
}

#u4398-3
{
	font-size: 19px;
	line-height: 23px;
}

#u4398-2
{
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u4395-4
{
	z-index: 8;
	width: 333px;
	min-height: 309px;
	background-color: transparent;
	line-height: 19px;
	font-size: 14px;
	margin-top: 18px;
	position: relative;
}

#pu4396
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 458px;
}

#u4396
{
	z-index: 18;
	width: 43px;
	background-color: transparent;
	margin-left: 439px;
	position: relative;
}

#u4397
{
	z-index: 19;
	display: block;
}

#u4036
{
	z-index: 4;
	width: 501px;
	margin-top: 45px;
	position: relative;
}

#u4394
{
	z-index: 7;
	width: 500px;
	height: 713px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
	background: transparent url("../images/beth2.jpg") no-repeat center center;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 6px;
}


