.version.life_online /* version checker */
{
	color: #00000F;
	background-color: #30B3F5;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#ppu19443
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 28px;
}

#pu19443
{
	width: 0.01px;
	padding-bottom: 6px;
}

#u19443
{
	z-index: 2;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u13815
{
	z-index: 4;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u13815:hover
{
	width: 36px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u13816
{
	z-index: 5;
}

#u4463-6
{
	z-index: 11;
	width: 226px;
	min-height: 23px;
	background-color: transparent;
	color: #00FF00;
	text-align: left;
	font-size: 28px;
	line-height: 34px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	margin-top: 273px;
	position: relative;
}

#u4462-9
{
	z-index: 19;
	width: 278px;
	min-height: 41px;
	background-color: transparent;
	color: #606060;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 19px;
	position: relative;
}

#u4462-3
{
	font-size: 19px;
	line-height: 23px;
}

#u4462-2
{
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u4467-4
{
	z-index: 7;
	width: 333px;
	min-height: 309px;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#pu4464
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 460px;
}

#u4464
{
	z-index: 17;
	width: 43px;
	background-color: transparent;
	margin-left: 437px;
	position: relative;
}

#u4465
{
	z-index: 18;
	display: block;
}

#u4466
{
	z-index: 6;
	width: 500px;
	height: 713px;
	margin-top: 45px;
	position: relative;
	background: transparent url("../images/joshj3.jpg") no-repeat center center;
	background-size: cover;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 6px;
}


